@use 'styles/colors' as colors;
@use 'styles/breakpoints' as breakpoints;


.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  text-align: center;

  .socialMediaWrapper {
    display: flex;
    gap: 1.5rem;

    .iconWrapper {
      & > svg > path {
        color: colors.$black;
        transition: color 0.2s;
      }

      &:hover {
       & > svg > path {
          color: colors.$primary-medium;
        }
      }

      .icon {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}

@media screen and (min-width: breakpoints.$tablet) {
  .footer {
    .socialMediaWrapper{
      .iconWrapper {
        .icon {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
  
}

