@use 'colors' as colors;
@use 'fonts' as fonts;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: colors.$black;
}

html, body, #__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: fonts.$bold;
  color: colors.$primary;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  
  & * {
    color: colors.$primary;
  }

  &:hover {
    color: colors.$primary-medium;

    & * {
      color: colors.$primary-medium;
    }
  }
}